*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8rem;
    background: rgb(18, 72, 218);

    ul{
        display: flex;
        list-style-type: none;
        gap: 10px;

        li{
            padding: 5px 12px;
        }
    }
}