@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

$color: #111;
$primary: #FFAB9D;



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  font-family: "Raleway", sans-serif;
  color: #fff;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8rem;
  background: rgba(37, 84, 214, 0.795);

  h1 {
    cursor: pointer;
    font-weight: bold;
    font-size: 2.5rem;
  }

  ul {
    display: flex;
    list-style-type: none;
    gap: 10px;

    li {
       position: relative;
        margin: auto;
        padding: 19px 22px;
        transition: all .2s ease;

        @mixin btn-border-drawing($color: black, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width rgba(2, 75, 184, 0.815);
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  font-size: 2rem;
  padding: 5px 10px;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

.draw-border {
  @include btn-border-drawing(#58afd1, black, 4px, bottom, right);
}



    }
  }


  .mobileMenu {
    margin: 0;
    height: 100vh;
    display: flex;
    position: fixed;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: black;

    .mobileMenu_list{
            list-style-type: none;
    margin: 0;
    padding: 0;

    li{
          --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;

    span{
            position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
    }
    }
    }
  }
}