@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav{
    font-family: "Raleway", sans-serif;
    color: #fff;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8rem;
    background: rgba(37, 84, 214, 0.795);

    h1{
        cursor: pointer;
    }

    ul{
        display: flex;
        list-style-type: none;
        gap: 10px;

        li{
            padding: 5px 12px;
            cursor: pointer;
            transition: all 0.12s linear;

            &:hover{
                scale: 1.20;
            }
        }
    }
}