.contact{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 40px;
    overflow: hidden;

    h1{
        justify-self: center;
    }

    input{
        outline: none;
        border: none;
        border-radius: 3px;
        padding: 3px 10px;
        font-size: 24px;
    }
    img{
        position: absolute;
        top: 0%;
        right: -30%;
        pointer-events: none;
    }
    textarea{
    width: 800px;
    min-height: 150px;
    font-size: 24px;
    padding: 3px 10px;
    border: none;
    outline: none;
    border-radius: 3px;
    }

    input[type=submit]{
        width: 20%;
        align-self: center;
        margin-top: 30px;
                cursor: pointer;
        transition: all 0.3s ease;
        
        &:hover{
            scale: 1.2;
        }

        &:active{
            scale: 0.9;
        }
    }
}