.contact{
    display: flex;
    flex-direction: column;
    input[type=text]{
        padding: 10px 90px;
    }

    input[type=email]{
        padding: 10px 30px;
    }

    input[type=submit]{
        padding: 30px 100px;
    }
}