.contact{
    display: flex;
    flex-direction: column;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        mix-blend-mode: multiply;
    }
    input[type=text]{
        padding: 10px 90px;
    }

    input[type=email]{
    }
    textarea{
    width: 800px;
    }

    input[type=submit]{
    }
}