*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.App{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 40px;
    text-align: center;
    color: #000;
}

.section{
    border-top: 3px solid rgb(88, 88, 88);
    background-color: rgba(71, 82, 231, 0.815);
    padding: 15px 5rem;
}