*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.App{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 40px;
    text-align: center;
     color: transparent;
            background-clip: text;
            background-color: rgb(2,0,36);
            background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,112,112,1) 33%, rgba(0,0,0,1) 67%, rgba(139,141,142,1) 100%);
            background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.section{
    border-top: 3px solid rgb(88, 88, 88);
    background-color: rgb(231, 230, 230);
    padding: 15px 5rem;
}