.projectCard{
    display: flex;
    flex-direction: column;
    color: #fff;
    max-width: 600px;
    border-radius: 10px;

    border: 3px solid #fff;
    h1{
        font-size: 1.6em;
        color: #fff;
    }
    p{
        text-align: center;
    }

    h2{
        text-align: center;
    }

    ul{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        text-align: center;
    }
}