.mobileMenu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    ul{
        list-style-type: none;
        font-size: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        

          li{
            cursor: pointer;
            -webkit-text-stroke: 2px white;
            transition: all 0.2s ease-in;
            color: transparent;
            transition: all 0.3s ease;

            &:hover{
                scale: 1.2;
            }

            &:active{
                scale: 0.9;
            }
          }
}

.exit{
    position: fixed;
    font-size: 70px;
    background: #000;
                cursor: pointer;
            -webkit-text-stroke: 2px white;
            transition: all 0.2s ease-in;
            color: transparent;
            transition: all 0.3s ease;
            top: 10%;
            right: 5%;
}

    }